.banner {
    background-image: url("../cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    color: rgb(123, 81, 247);
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(235, 72, 72);
  }
  
  /* .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  } */
  
  
  
  @media  (max-width: 800px) {
    .banner {
     
       margin-top: 0; 
      
      
    }
   

  }