.speedDial {
  position: fixed;
  right: 3vmax;
  top: 7vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

@media (max-width: 900px)
{
  .speedDial {
    position: fixed;
    right: 3vmax;
    margin-top: 5rem;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
}